// layout.jade
doctype html
html(lang="de")
  head
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/normalize.css")
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title HHU MAIL REALY
  body
    h1 HHU Mail-Relay!
    block content		   